<launch>

  <!-- send table.xml to param server -->
  <arg name="range" default="2.0" />
  <arg name="shift" default="0.5" />
  <arg name="rviz" default="true" />
  <arg name="pcd" default="true" />
  <arg name="iter" default="30" />
  <arg name="res" default="2.0" />
  <arg name="step" default="0.5" /> 
  <arg name="eps" default="0.05" />
  <arg name="vox" default="2.0" />
  <!-- rosrun ndt_localizer ndt_mapping  -->
  <node pkg="ndt_localizer" type="ndt_mapping" name="ndt_mapping" output="screen">
    <param name="range" value="$(arg range)" />
    <param name="shift" value="$(arg shift)" />
    <param name="iter" value="$(arg iter)" />
    <param name="res" value="$(arg res)" />
    <param name="step" value="$(arg step)" />
    <param name="eps" value="$(arg eps)" />
    <param name="vox" value="$(arg vox)" />
  </node>
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find ndt_localizer)/rviz_cfg/loam_velodyne.rviz" />
  </group>  
  <group if="$(arg pcd)">
    <node launch-prefix="nice" pkg="pcl_ros" type="pointcloud_to_pcd" name="pointcloud_to_pcd" output="screen">
    <remap from="/input" to="/ndt_map"/>
    </node>
  </group>
</launch>
